body {
    background: #fff;
}

.company-nav {
    padding: 2vw;
    font-size: 2rem;
}

.company-nav .menus{
    padding: 2vw;
    color: #7999;
    justify-content: center;
}

.company-nav .menu{
    padding: 2vw;
}

.company-nav .menu.on{
    color: #000;
}

.company-nav .sub-menus{
    padding: 2vw;
    color: #777777;
}


.company-nav .sub-menu{
    padding: 4vw;
}

.company-nav .sub-menu.on{
    color: orange;
}

#company-content{
    color: black;
}
/** 본사 - 소개 **/
#ho-introduce {
    padding: 10vw;
    word-break: keep-all;
}

.txt2 span {
    color: #3985a5;
}
/** 소개 **/