/** 본사 - 소개 **/
#ho-introduce {
    word-break: keep-all;
}

.ceo-signature {
    text-align: right;
    margin-top: 8vw;
}

.ceo-signature span {
    font-family: 'LeferiBaseType-BoldA', sans-serif;
    font-size: 1.8rem;
    letter-spacing: 1rem;
    margin-left: 1rem;
    color: white !important;
}

.ceo-pic {
    max-width: 15vw;
    margin-right: 2vw;
}

.ceo-title{
    font-size: 1.8rem;
}

#ho-introduce span {
    color: var(--point-color);
    font-family: 'LeferiBaseType-RegularA', sans-serif;
}

/** 본부 비전 **/

.vision p{
    font-size: 1.2rem;
}

.hq-vision-concept-list {
    justify-content: space-between;
}

.hq-vision-concept-list .item {
    display: flex;
    border: 0.1vw solid #ccc;
    margin-bottom: 2vw;
    min-height: 15vw;
}

.hq-vision-concept-list .item .title {
    background: #2F86ED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    color: white;
    width: 20vw;
    font-family: 'LeferiBaseType-RegularA', sans-serif;
}

.hq-vision-concept-list .item .title span {
    color: red;
}

.hq-vision-concept-list .item .content {
    padding: 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img.hq-slogan {
    max-width: 100%;
}

/** 본부 연혁 */
.hq-history {
    margin: 0;
    border-left: 0.5vw solid var(--point-color);
    padding: 1rem;
}

.hq-history li {
    display: flex;
    margin-bottom: 4.5vw;
}

.hq-history-date {
    color: var(--point-color);
    font-family: 'LeferiBaseType-RegularA', sans-serif;
    width: 20vw;
}

.hq-history-content {
    display: flex;
    flex-direction: column;
}

.hq-history-content img {
    width: 10vw;
}

/* 사업소 소개*/
.office-introduce {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.office-introduce img {
    max-width: 100%;
}

#office-map {
    width: 100%;
}

.office-title {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3rem;
    font-family: 'LeferiBaseType-RegularA', sans-serif;
}

.office-subtitle {
    font-size: 1rem;
}

.office-introduce .basic-info {
    display: flex;
    flex-wrap: wrap;
}

.office-introduce .basic-info dt {
    width: 20%
}

.office-introduce .basic-info dd {
    width: 70%;
}