/** 사진촬영**/

body.on {
    background: #050505;
}

main {
    position: relative;
}

.photo-explanation {
    position: absolute;
    margin-top: 22vw;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3rem;
    z-index: -1;
}

.photo-take-box {
    display: flex;
    flex-direction: column;
    margin-top: 30vw;
    border-radius: 2vw;
}

.photo-description {
    font-weight: normal;
    text-align: center;
    font-size: 1rem;
    margin: 2rem;
    padding-left: 3vw;
    position: relative;
}

.photo-description::before {
    content: "";
    width: 2.5vw;
    height: 2.5vw;
    background: url("../img/photo/camera.svg") no-repeat center;
    position: absolute;
    left: 0;
}

.photo-preview {
    width: calc(56vw * 1.5);
    height: 56vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.photo-preview.shut::after {
    content: "";
    position: absolute;
    z-index: 1;
    background: #fff;
    opacity: 0.2;
    width: 100%;
    height: 100%;
}


.photo-setting-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#photo-target {
    width: 10vw;
    height: 20vw;
    position: fixed;
    background: url("../img/photo/human.png") no-repeat center rgba(255, 255, 255, 0.2);
    background-size: contain;
    border: 1px solid;
}

.resizer {
    width: 2vw;
    height: 2vw;
    /*background-color: #fff;*/
    z-index: 2;
    position: absolute;
}

.resizer.nw {
    top: -1vw;
    left: -1vw;
    visibility: hidden;
}

.resizer.ne {
    top: -1vw;
    right: -1vw;
    visibility: hidden;
}

.resizer.sw {
    bottom: -1vw;
    left: -1vw;
    visibility: hidden;
}

.resizer.se {
    bottom: -1vw;
    right: -1vw;
    background: url("../img/photo/resize_arrow.png") no-repeat;
    background-size: 100% 100%;
}

#photo-countdown {
    color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    font-size: 5rem;
    width: 100%;
    padding: 5rem;
    text-align: center;
}

/** 배경 선택 **/
.photo-bg-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1vw;
    font-size: 1.3rem;
}

.photo-bg-btn {
    color: #888;
}

.photo-bg-btn.on {
    color: #fff;
}

.photo-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 10vw;
    margin: 0.5rem;
    border: 0.5vw solid transparent;
    background-size: cover;
    word-break: keep-all;
    opacity: 0.8;
    background-repeat: no-repeat;
}

.photo-bg-btn.on .photo-bg {
    border-color: white;
    opacity: 1;
}

.bg-01 {
    background: url("../img/01.jpg") no-repeat;
    background-size: cover;
}

.bg-02 {
    background: url("../img/02.jpg") no-repeat;
    background-size: cover;
}

.bg-select-box {
    padding: 1vw 2vw;
    flex-grow: 1;
    align-items: center;
    display: flex;
    background: #151515;
    width: 100%;
    z-index: 1;
}

.shutter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background: #eaeaea;
    border-radius: 50%;
    color: #333b44;
    width: 15vw;
    height: 15vw;
    margin-top: 5vw;
    border: 0.5vw solid #bbb;
}

.shutter span {
    font-size: 0.9rem;
    font-family: 'S-CoreBold', sans-serif;
}


/** 사진 확인 **/
.photo-confirm-modal-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent !important;
    padding: 0;
}

.photo-confirm-modal {
    background: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw;
    text-align: center;
    color: #555;
    border-radius: 1vw;
    margin-top: 8vw;
    font-size: 1.2rem;
}

.photo-confirm-title {
    font-size: 2rem;
    padding: 4vw;
}

.photo-confirm-description {
    line-height: 2em;
    padding: 3rem;
}

.photo {
    width: 75vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5vw solid #fff;
    position: relative;
    overflow: hidden;
    background-size: cover;
}

#photo-frame {
    position: relative;
}

#photo-frame::after {
    content: '';
    height: 5vw;
    background: url(../img/photo/frame_text.png) bottom no-repeat;
    background-size: contain;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}


.phone-input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone-num {
    background: transparent;
    padding: 1vw;
    width: 26vw;
    border-radius: 0.5vw;
    margin-bottom: 2vw;
    border: none;
    border-bottom: 0.15vw solid #ccc;
    font-size: 2.8vw;
    color: #000;
    outline: none;
}

.phone-num::placeholder {
    color: #ddd;
}

.place-holder {
    opacity: 0.1;
    display: none;
}

.dial {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 15vw;
    color: #777;
}

.dial button {
    width: 5vw;
    height: 5vw;
}


#photo-cancel-btn {
    padding: 4vw;
    margin: 2vw;
}

.auto-cancel-description {
    font-size: 0.8rem;
    color: #777;
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

#print-btn,
#tel-form-btn {
    background: #151515;
    padding: 2vw 4vw;
    margin: 2vw;
    color: #fff;
}

#clear-key {
    font-size: 0.5rem;
    word-break: keep-all;
    text-align: center;
}

/* 전송 결과 */

.photo-send-result-modal {
    background: #000;
    padding: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.auto-close {
    margin-top: 2rem;
    font-size: 0.8rem;
}

#result-title {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-family: 'S-CoreLight', sans-serif;
}

#result-msg {
    line-height: 2em;
}

#figure {
    position: absolute;
    transition: all 0.1s;
    width: 10vw;
}

#figure-setting-box {
    background: #333;
    color: #fff;
    width: 98%;
    padding: 2vw;
    justify-content: space-around;
    display: flex;
    font-size: 1rem;
    margin-top: 2vw;
    border-radius: 5vw;
    /*flex-direction: column;*/
    /*align-items: center;*/
}

button.position {
    background-color: #000;
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
    margin: 0 .2vw;
    color: #888;
    font-family: 'S-CoreBold', sans-serif;
}

button.position.on {
    background-color: #fff;
    color: #000;
}

#figure-position-setting-box,
#figure-scale-setting-box {
    display: flex;
    align-items: center;
    /*width: 20vw;*/
}

#figure-position-box {
    margin-left: 2vw;
}

/* range */
#rangeValue {
    position: relative;
    display: block;
    text-align: center;
    font-size: 6em;
    color: #999;
    font-weight: 400;
}

.range {
    margin-left: 2vw;
    width: 15vw;
    height: 3vw;
    -webkit-appearance: none;
    background: #111;
    outline: none;
    border-radius: 5vw;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    border: .5vw solid #666;
    /*box-shadow: -407px 0 0 400px #00fd0a;*/
}

.range.on::-webkit-slider-thumb {
    background-color: palegoldenrod;
}


/* 이메일로 전송 및 키보드 Override */
.tel-input-modal {
    background-color: white;
    color: #2e365a;
    height: 30vh;
    width: 70vw;
    margin-top: 28vw;
    border-radius: 1vw;
    position: relative;
}

.tel-input-modal > h3 {
    text-align: center;
    margin-top: 3vh;
    font-weight: 800;
    font-size: 1.2rem;
}

#tel-input-modal-close-btn {
    position: absolute;
    right: 2vw;
    top: 2vw;
}

.tel-input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

#tel-send-btn {
    font-size: 1.2vw;
    background: #0D3563;
    color: #fff;
}

#tel-send-btn:disabled {
    background-color: #eeee;
    color: #ccc;
}

#tel-result-modal {
    background: #fff;
    color: #000;
    padding: 3vw;
    border-radius: 1vw;
    text-align: center;
    line-height: 2rem;
}

.tel-num-input{
    width: 16vw;
}

.tel-buttons {
    margin: 5vw auto;
    width: 20vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tel-buttons button {
    width: 5vw;
    height: 5vw;
    margin: 0.5vw;
    background: #eee;
}