@font-face {
    font-family: 'LeferiPoint-WhiteA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiBaseType-RegularA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiBaseType-BoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-BoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

ol {
    list-style: none;
}

html, body {
    height: 100%;
    margin: 0;
}

em {
    font-style: normal;
}

.title-header {
    text-align: center;
    background: #1a1a25;
    padding: 3.5vw;
    width: 100%;
    font-size: 2.5rem;
    font-family: 'LeferiBaseType-RegularA', sans-serif;
}

html {
    font-size: 2vw;
    font-family: 'LeferiPoint-WhiteA', sans-serif;
}

body {
    background: #444;
    color: white;
    display: flex;
}


.flex-row {
    display: flex;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

* {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    box-sizing: border-box;
}

.dimmed {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding-right: 8vw;
}

.global-menu-bg {
    margin: auto;
    z-index: 1;
}

.global-menu-panel {
    background: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80vw;
    border-radius: 1vw;
    overflow: hidden;
    opacity: 0.9;
    font-size: 1.1rem;
}

.global-menus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.global-menu-header {
    padding: 0.8em;
    text-align: center;
    font-size: 1.6rem;
}

.global-menu {
    width: 25%;
    background: #333;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 1.3rem;
    word-break: keep-all;
    height: 16vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
}

.global-menu-close-btn {
    background: black;
    padding: 0.8rem;
    text-align: center;
}

a, button {
    background: transparent;
    border: none;
}

a {
    text-align: center;
}

.hide {
    display: none !important;
}

.control-menus {
    background: #000;
    color: #cef;
    top: 0;
    width: 8vw;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.5rem;
    flex-shrink: 0;
    font-family: 'LeferiBaseType-BoldA', sans-serif;
}

.control-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    font-size: 1rem;
}