:root {
    --point-color: #ffd400
}

@font-face {
    font-family: 'LeferiPoint-WhiteA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiBaseType-RegularA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiBaseType-BoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-BoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

ol {
    list-style: none;
}


html {
    font-size: 2vw;
    font-family: 'LeferiPoint-WhiteA', sans-serif;
}

body {
    /*background: #444;*/
    /*background: #113B63;*/
    /*background: #0D3563;*/
    background: linear-gradient(rgb(10, 22, 46), #0D3563);
    color: white;
    display: flex;
}

html, body {
    height: 100%;
    margin: 0;
}

em {
    font-style: normal;
}

#logo {
    width: 20vw;
}

.bold {
    font-family: 'LeferiBaseType-BoldA', sans-serif;
}

.title-header {
    text-align: center;
    background: rgb(3, 49, 88);
    padding: 3.5vw 2.5vw 2.5vw 2.5vw;
    width: 100%;
    font-size: 2rem;
    font-family: 'LeferiBaseType-RegularA', sans-serif;
    position: relative;
}

.header-control-btn {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    word-break: keep-all;
}

.header-home-btn {
    left: 0;
    padding: 0 4vw;
}

.header-back-btn {
    right: 0;
    width: 18vw;
    padding: 2vw 1vw 1vw 1vw;
}

.flex-row {
    display: flex;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

* {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    box-sizing: border-box;
}

.dimmed {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.global-menu-bg {
    margin: auto;
    z-index: 1;
}

.global-menu-panel {
    color: black;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 30%, rgb(228 246 255) 100%);
    /*background: white;*/

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80vw;
    border-radius: 1vw;
    overflow: hidden;
    font-size: 1.1rem;
    margin-bottom: 10vw;
}

.visitor-introduce {
    color: #2e365a;
    font-weight: bold;
    padding: 2vw 1.5vw 1.5vw;
    border-radius: 8vw;
    text-align: center;
    background-color: #d7eafd;
    margin: 2vw auto 5vw;
    width: 60vw;
}

.visitor-introduce .bold {
    color: red;
}

.global-menu-panel-title {
    color: #4e5f7e;
    font-size: 2.1rem;
    text-align: center;
    padding-top: 8vw;
}

.global-menus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 65vw;
    padding: .5vw;
    margin: 3vw auto;
    border-radius: 1vw;
}

.global-menu {
    /*width: 25%;*/
    width: 15vw;
    height: 10vw;
    /*background: linear-gradient(0deg, white 0%, #eee 50%);*/
    background: #4f5981;
    /*color: #1e2250;*/
    color: #fff;
    border: 1px solid #bbb;
    box-sizing: border-box;
    font-size: 1.1rem;
    word-break: keep-all;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw 2vw 0.5vw;
    margin: 0.5vw;
    border-radius: 1vw;
    font-family: 'LeferiBaseType-BoldA', sans-serif;
    box-shadow: 0 0.3vw 0 rgba(255, 255, 255, 0.34) inset;
}

.color-guest {
    background: #df5f5f;
    color: #fff;
}

.color-support {
    background: #599cbd;
    color: #fff;
}

.color-tech {
    background: #eb8f32;
    color: #fff;
}

.global-menu-close-btn {
    background: black;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
}

a, button {
    background: transparent;
    border: none;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-align: center;
}

.hide {
    display: none !important;
}

.point-color {
    color: var(--point-color)
}

/** 우츨 컨트롤 메뉴 **/
.control-menus {
    position: absolute;
    z-index: 2;
    background: #000;
    color: #cef;
    top: 45%;
    right: 0;
    width: 8vw;
    height: 8vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    flex-shrink: 0;
    font-family: 'LeferiBaseType-BoldA', sans-serif;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
}

#control-spread-btn {
    display: none;
}

.control-menus.fold {
    height: 6vw;
    width: 6vw;
    top: 50%;
    z-index: 1;
}

.control-menus.fold #control-spread-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.control-menus.fold .control-menu {
    display: none;
}

#control-spread-btn {
    font-size: 2rem;
}

.control-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    height: 4vw;
    width: 4vw;
}

.control-menu span {
    width: 0.8vw;
    height: 0.8vw;
    background-color: currentColor;
    align-self: center;
    justify-self: center;
}

.content-area {
    padding: 5vw 10vw;
    border-radius: 1vw;
    flex-grow: 1;
    margin-bottom: 10vw;
    font-size: 1.5rem;
}


.content-nav {
    font-size: 2rem;
    margin-top: 4vw;
}

.content-nav .menus {
    justify-content: center;
    font-size: 1.8rem;
}

.content-nav .menu {
    padding: 2.5vw 2.5vw 1.5vw;
    border-radius: 1vw;
    background: #555;
    margin: 1vw;
    box-shadow: 0 0.2vw 0 rgba(255, 255, 255, 0.34) inset;
    font-family: 'LeferiBaseType-RegularA', sans-serif;
    color: #bbb;
}

.content-nav .menu.on {
    background: #1fbdd7;
    box-shadow: 0 -0.2vw 0 rgba(255, 255, 255, 0.34) inset;
    color: #fff;
}

.content-nav .sub-menus {
    font-size: 1.5rem;
    padding: 0 2vw;
    justify-content: center;
    font-family: 'LeferiBaseType-RegularA', sans-serif;
}


.content-nav .sub-menu {
    padding: 2vw;
    opacity: 0.5;
}

.content-nav .sub-menu.on {
    font-family: 'LeferiBaseType-BoldA', sans-serif;
    opacity: 1;
}


/** **/
#tree-area {
    height: 65vw;
    position: relative;
    background: url("../img/menu/tree.png") no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tree-fruit {
    color: #fff;
    padding: 3vw 2vw 2vw 2vw;
    position: absolute;
    width: 11.5vw;
    height: 11.5vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: keep-all;
    font-family: 'LeferiBaseType-BoldA', sans-serif;
    font-size: 1rem;
    box-shadow: 0 0.3vw 0 rgba(255, 255, 255, 0.34) inset;
    /*opacity: 0.8;*/
}

/** support **/
[data-menu="high"] {
    left: 29.5%;
    top: 15%;
    font-size: 0.85rem;
}

[data-menu="efficiency"] {
    left: 42.5%;
    top: 5%;
}

[data-menu="power"] {
    left: 51.5%;
    top: 23%;
}

[data-menu="root"] {
    left: 33.5%;
    top: 33%;
}

[data-menu="trans"] {
    left: 17%;
    top: 31%;
    font-size: 0.85rem;
}

[data-menu="reward"] {
    left: 16%;
    top: 49%;
}

[data-menu="sunpower"] {
    left: 28%;
    top: 62%;
}

/* tech */

[data-menu="car"] {
    left: 66%;
    top: 35%;
}

[data-menu="sun"] {
    left: 51%;
    top: 45%;
}

[data-menu="green"] {
    left: 66%;
    top: 56%;
}

.tree-fruit.color-tech {
    /*width: 10vw;*/
}

#tree-title {
    font-size: 1.75rem;
}

.empty{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}